{% extends 'auth.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <div class="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="big-title">
                        <div class="big-title">

                        </div>
                    </div>
                    <div class="form-page">

                        <h3 class="h3 mb-3 font-weight-normal">
                               Mot de passe oublié
                            </h3>
                        {{ form_start(emailForm) }}
                            <div class="row">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        {{ form_row(emailForm.email) }}
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group" >

                                        {{ form_row(emailForm.envoyer) }}
                                        {{ form_end(emailForm) }}
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
