body{
    background: #F1F1F1;
    font-weight: 400;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: rgba(0, 0,0, 0.6);
    margin: 0;
    line-height: 2;
}


@media (min-width: 769px){
    .form-page {
        padding: 30px;
    }}
.nav-item a{
    display: inline-block;
    margin: 0 12px;
    color: rgba(255,255, 255,0.67);
    transition: color .5s;
}


.nav-item a:hover,.nav-item a.active{
    color: #fff;

}

.form-page h3 {
    color: #222831;
    display: block;
    margin: 5px auto 15px auto;
    padding: 20px 0 20px 0;
    text-align: center;
}
.form-page {
        margin-top: 50px;
        margin-bottom: 30px;
        border: 1px solid #ddd;
        background-color: #fff;
        box-shadow: 0 6px 10px 0 rgba(0,0,0,.1);
    }
.departements-home {
    padding-top: 40px;
    padding-bottom: 50px;
    background: #fff;
}

@media (max-width: 768px) {
    .departements .departement-box {
        margin-bottom: 20px;
    }
}
.departements .departement-box {
        background: #fff;
        padding: 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        height: 165px;
        box-shadow: 0 0 5px 2px rgba(0,0,0,.4);
        position: relative;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
.departements .departement-box .departement-cover {
    background: #337ab7;
    width: 100%;
    height: 165px;
}
.departements .departement-box .departement-cover {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.departements .departement-box .departement-cover:hover {
    opacity: .5;
}

.departements .departement-box .departement-cover .departement-overlay {
    background: rgba(34,40,49,.5);
    padding: 30px 15px;
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s cubic-bezier(.42,0,.58,1) 10ms;
    -moz-transition: all .2s cubic-bezier(.42,0,.58,1) 10ms;
    -o-transition: all .2s cubic-bezier(.42,0,.58,1) 10ms;
    transition: all .2s cubic-bezier(.42,0,.58,1) 10ms;
}
.departements .departement-box .departement-icon {
    font-size: 40px;
    color: #fff;
    font-family: Roboto,Tahoma,Arial,sans-serif;
    text-shadow: 0 1px 2px #333;
}
.departements .departement-box .departement-name {
    font-size: 22px;
    color: #fff;
    line-height: 1.6;
    font-family: Roboto,Tahoma,Arial,sans-serif;
    text-shadow: 0 1px 2px #333;
}

.card{
    background: rgba(34,40,49,.5);
    padding: 30px 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.4);
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
}

.container a {
    text-decoration: none;
    color: rgba(51,122,183,.8);
    transition: color .1s;
}

.container a:hover{
   color:#007bff;

}
.subjects {
    background: #f1f1f1;
}
.text-center {
    text-align: center;
    justify-items: center;
}
.fi a:after{
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;

}
.fi a:hover:after {
    width: 95%;
    background: #2051a9;
}
.card .card-title{
    font-size: 22px;
    color: #fff;
    line-height: 1.4;
    font-family: Roboto, sans-serif;
    text-shadow: 0 1px 2px #333;
}
 a .forgotten{
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
    text-decoration: none;
}

.big-title {
    display: table;
    text-align: center;
}
.big-title .hr-title {
    border-bottom: 3px solid #2051a9;
    width: 40%;
    margin: auto;
}
.page-heading {
    position: relative;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.subjects .subject-box {
    background: #fff;
    padding: 20px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 180px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.1);
    border: 1px solid #ddd;
    -webkit-transition: all .2s cubic-bezier(.42,0,.58,1) 10ms;
    -moz-transition: all .2s cubic-bezier(.42,0,.58,1) 10ms;
    -o-transition: all .2s cubic-bezier(.42,0,.58,1) 10ms;
    transition: all .2s cubic-bezier(.42,0,.58,1) 10ms;
    border-bottom: 3px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.subjects a {
    text-decoration: none;
    color: #222831;
}

.subject-box::after, .subject-box::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.courses .course-box {
    background: #fff;
    padding: 20px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.1);
    border: 1px solid #ddd;
    -webkit-transition: all .2s cubic-bezier(.42,0,.58,1) 10ms;
    -moz-transition: all .2s cubic-bezier(.42,0,.58,1) 10ms;
    -o-transition: all .2s cubic-bezier(.42,0,.58,1) 10ms;
    transition: all .2s cubic-bezier(.42,0,.58,1) 10ms;
    border-bottom: 3px solid transparent;
    margin-bottom: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.courses .course-box .course-cover {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: -20px -15px 5px -15px;
    font-size: 18px;
    color: #222831;
    font-family:Roboto ,Tahoma,Arial,sans-serif;
    font-weight: 700;
    text-align: center;
    position: relative;
    text-shadow: 0 1px 1px #ddd;
    background: #2051a9;
}
.subjects .subject-box .box-title {
    font-size: 19px;
    font-family:Roboto,Tahoma,Arial,sans-serif;
    font-weight: 700;
    color: #222831;
    direction: ltr;
}
.courses .course-box a {
    text-decoration: none;
}

.courses .course-box .course-cover h3 {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-width: 100%;
    max-width: 100%;
    min-height: 195px;
    max-height: 100%;
    color:  rgba(255,255,255,.7);
}
.courses .course-box .course-cover .course-instructor a {
    color: #000;
}
.courses .course-box .course-cover .course-instructor {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    font-family: Roboto ,Tahoma,Arial,sans-serif;
    font-weight: 400;
    background: rgba(255,255,255,.7);
    box-shadow: 0 1px 2px #888;
    padding: 5px 10px;
    font-size: 12px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.courses .course-box .course-heading {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.6;
    color: #222831;
    font-weight: 700;
    font-family: Roboto,Tahoma,Arial,sans-serif;
    text-align: center;
    position: relative;
}

.courses .course-box .course-meta {
    margin: 20px 0 12px 0;
    font-size: 14px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 12px;
    color: #888;
}
.courses .course-box .course-meta .meta-item {
    text-align: center;
    padding-right: 0;
    padding-left: 0;
}
.rating-small {
    display: inline;
    margin-right: 5px;
}

.rating-start {
    text-align: center;
}


.page-heading .page-meta {
    list-style: none;
    padding-right: 0;
    padding-left:0;
}


.page-heading.title-lg h3 {
    font-weight: 400;
}


.page-heading .page-meta {
    list-style: none;
    padding-right: 0;
    padding-left: 0;
}
.page-heading .page-meta .subject-label, .subject-label {
    background: #222831;
    padding: 2px 5px;
    margin: 0 1px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.page-heading .page-meta li a {
    text-decoration: none;
    color: #0e61a2;
}
.page-heading .page-meta li {
    font-size: 14px!important;
    color: #666;
    line-height: 2.2;
    float: left;
    margin-left: 20px;
}
.page-heading .page-options {
    float: left;
    padding: 0;
}
.lessons-list {
    background: #fff;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.widget {
    position: relative;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.1);
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
.widget h3 {
    color: #222831;
    font-size: 16px;
    font-weight: 700;
    font-family: Roboto,Tahoma,Arial,sans-serif;
    margin: -15px -15px 25px -15px;
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.widget .files-list {
    list-style: none;
    padding-right: 0;
    padding-left: 0;
    margin-top: -12px;
    margin-bottom: 0;
}
.widget .articles-list .file-item {
    list-style: none;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 0;
    outline: 0;
}
.widget .files-list li {
    padding: 7px 0;
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.share-course .course-link-input {
    direction: ltr;
}
.share-course .course-link-input input {
    border-radius: 0;
}


.share-course ul.share-buttons {
    margin-top: 20px;
    list-style: none;
    margin-right: 0;
}

.share-course ul.share-buttons li {
        display: inline;
        text-align: center;
    }
.share-course .facebook {
    background-color: #3b5998;
}
.share-course .email {
    background-color: #777;
}
.share-course .whatsapp {
    background-color: #25d366;
}
.share-course .sharing-button {
    display: inline-block;
    text-decoration: none;
    padding: 9px 0;
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
}


::-webkit-resizer {
    background-color: #2051a9;
}
::-webkit-scrollbar{    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    background-color: #0f0f0f;
}
::-webkit-scrollbar-corner {
    background-color: #999;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #2051a9;
    border-radius: 0;
}
::-webkit-scrollbar-track {
    background-color: #999;
}
::-webkit-scrollbar-track-piece {
    background-color: #fff;
}
::-webkit-resizer {
    background-color: #2051a9;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    background-color: #0f0f0f;
}
::-webkit-scrollbar-corner {
    background-color: #999;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #2051a9;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.subject-box::-webkit-scrollbar-track {
    background-color: #999;
}
.subject-box::-webkit-scrollbar-track-piece {
    background-color: #fff;
}
@media (min-width: 769px){
    .page-heading.title-lg {
        padding-top: 26px;
        padding-bottom: 26px;
        margin-bottom: 30px;
    }}
@media (min-width: 769px){
    .subjects .subject-box {
        margin-bottom: 20px;
        margin-top: 15px;

    }}
@media (max-width: 768px){
    .subjects .subject-box {
        margin-bottom: 15px;
        margin-top:15px;
    }}
@media (min-width: 769px){
    .big-title {
        margin: 10px auto 35px auto;
    }}


@media (min-width: 769px){
        .page-heading {
            margin-bottom: 30px;
            padding-top: 22px;
            padding-bottom: 22px;
        }
}
@media (min-width: 768px){
    .courses .course-box {
        height: auto;
    }}
@media (min-width: 992px){
    .courses .course-box {
        height: auto;
    }
}
@media (min-width: 768px){
    .courses .course-box .course-heading {
        height: 52px;
    }}
@media (min-width: 769px){
    .page-heading.title-lg h3 {
        font-size: 24px;
        margin-bottom: 0;
        font-family: Roboto,Tahoma,Arial,sans-serif;
    }}
@media (min-width: 769px){
    .share-course ul.share-buttons li {
        margin: 0 1%;
    }}