{% extends 'base.html.twig' %}

{% block title %}liste des utilisateurs{% endblock %}

{% block body %}
<{% for message in app.flashes('message') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>email</th>
            <th>role</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td> {% for role in user.roles %}
                        {% if role == "ROLE_USER" %}
                             utilisateur
                        {% elseif role == "ROLE_ETUD" %}
                            etudient
                        {% endif %}
                    {% endfor %}
                </td>

                <td>
                    <a href="{{path('resp_modifier_user', {'id': user.id})}}" class="btn btn-warning">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">il n'y a pas d'utolisateur inscrit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
