{% extends 'base.html.twig' %}

{% block title %}New Articles{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}
{% block body %}
<div class="container">
    <div class=" d-grid gap-2 position-absolute " style="top:80px;left:260px;">
        <a href="{{ path('articles_index') }}" class="btn btn-secondary  d-inline-block p-8 mr-2" role="button" style="color: snow;" data-toggle="tooltip" data-placement="top" title="revenez à la liste"><i class="las la-arrow-circle-left " style="width: 30px"></i></a>
    </div>
    <div class="big-title">
        <h2>Creer Article </h2>
        <div class="hr-title"></div>
    </div>


    {{ include('articles/_form.html.twig') }}

</div>
{% endblock %}
{% block javascripts %}

{% endblock %}
