<meta charset="UTF-8">
<h1  class="text-center" style=" background: #24C6DC;
            background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);
            background: linear-gradient(to right, #514A9D, #24C6DC);color: snow">ensetm-course</h1>
<h3>Activation de votre compte</h3>
<p>Vous avez créé un compte sur notre site, veuillez cliquer sur le lien ci-dessous pour l'activer</p>
<p><a href="{{ absolute_url(path('activation', {'token': token})) }}">Activer mon compte</a></p>